:root {
  color-scheme: light; /* Diz ao navegador para ignorar o dark mode no nível do sistema */
  
  --fundo-principal: #ffffff;
  --texto-principal: #212529;
}

body {
  margin: 0;
  background-color: var(--fundo-principal) !important;
  color: var(--texto-principal) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}